{% extends "libraryapp/base.html" %}
{% block title %} Wypożyczenie książki {% endblock %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'styles/settings.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock head %}
{% block content %}
      <div class="container">
            <div class="header">
                <div class="navbar">
                    <div class="logo">
                        <a href="/"><img src="{% static 'img/logo.png' %}"></a>
                    </div>
                    <div class="navigation">
                        <ul class="navigation__list">
                            <li class="navigation__item"><a class="link" href="/dashboard">Strona Główna</a></li>
                            <li class="navigation__item"><a class="link" href="/books">Książki</a></li>
                            <li class="navigation__item"><a class="link" href="/hirements">Wypożyczenia</a></li>
                            <li class="navigation__item"><a class="link" href="/contact">Kontakt</a></li>
                            <li class="navigation__item"><a class="link active" href="/settings">Ustawienia</a></li>
                            <li class="navigation__item "><a class ="login-btn" href="/logout">Wyloguj</a></li>
                        </ul>
                    </div>
                </div>
            </div>
     </div>
    <div class="popup">
        <div class="popup-form">
            <img src="{% static 'img/close_icon.png' %}" id="close-popup-button" />
            <form method="post" name="update-password" id="update-password-form">
                {% csrf_token %}
                <input type='hidden' name='action' value='personal-password'>
                <h1>Zmiana hasła</h1>
                <label for="current-password" class="input-label">Aktualne hasło</label>
                <input required="required" type="password" name="current-password" id="current-password" />
                <label for="new-password" class="input-label">Nowe Hasło</label>
                <input required="required" type="password" name="new-password" id="new-password"/>
                <label for="new-repeated-password" class="input-label">Powtórz hasło</label>
                <input required="required" type="password" name="new-repeated-password" id="new-repeated-password"/>
                <span id='message'></span>
                <input class="submit-button" id="update-password-submit" type="submit" value="Aktualizuj" name="personal-password"/>
            </form>
        </div>
    </div>
        <div class="settings-container">
            <div class="settings-panel">
                <div class="info-left-side">
                    <img src="{% static 'img/settings_image.svg' %}" alt="" />
                    <h1>Kilka uwag</h1>
                    <div class="info">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aspernatur ipsa porro eius accusantium nam in ut id ex debitis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus!</p>
                        <h3>Lorem, ipsum dolor.</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus!</p>
                    </div>
                    <p class="change-password" id="change-password-button">Zmień Hasło</p>
                </div>
                <div class="details-right-side">

                    <form method="POST">
                        <input type='hidden' name='action' value='personal-information'>
                        {% csrf_token %}
                        <h1>Dane użytkownika</h1>
                        <label for="username" class="input-label">Nazwa użytkownika</label>
                        <input required="required" type="text" name="username" value="{{ reader.user.username }}"/>
                        <label for="first_name" class="input-label">Imię</label>
                        <input required="required" type="text" name="first_name" value="{{ reader.user.first_name }}"/>
                        <label for="last_name" class="input-label">Nazwisko</label>
                        <input required="required" type="text" name="last_name" value="{{ reader.user.last_name }}"/>
                        <label for="email" class="input-label">Adres email</label>
                        <input type="text" name="email" value="{{ reader.user.email }}"/>
                        <label for="telephone" class="input-label">Telefon</label>
                        <input required="required" type="tel" name="telephone" value="{{ reader.telephoneNumber }}"/>
                        {% for message in messages %}
                            {% if message.tags == "success" %}
                                <p class="validation-success">{{ message }}</p>
                            {% else %}
                                <p class="validation-error">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                        <button class="submit-button" type="submit" value="Aktualizuj" name="personal-information">Aktualizuj</button>
                    </form>
                </div>
            </div>
        </div>
    {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <script src="{% static 'scripts/settings.js' %}"></script>
    {% endblock js %}
{% endblock content %}