.contact-container{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contact-container h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.subject-input {
    width: 300px;
    margin-top: 15px;
    padding: 10px 0 10px 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 9px -3px #000;
}

.input-div {
    margin-bottom: 30px;
}

.message-input {
    padding: 10px 0 10px 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 9px -3px #000;
}
.message-input:focus {
    outline: none;
}


.submit-button {
    cursor: pointer;
    color:#FFF;
    padding: 10px 35px 10px 35px;
    background-color: #A063FF;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    transition: .3s;
}
.submit-button:hover {
    background-color: #833fd1;
}

.main-container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.left-side-image {
}
.left-side-image img {
    /*position: relative;*/
    height: 400px;
    left: -300px;
}

.validation-success {
    color: green;
    text-align: center;
    font-weight: bold;
}
